In [1]:
import gym
import json
import datetime as dt
import numpy as np

from stable_baselines.common.policies import MlpPolicy
from stable_baselines.common.vec_env import DummyVecEnv
from stable_baselines import PPO2

from env.StockTradingEnv import StockTradingEnv

import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./data/AAPL.csv')
df = df.sort_values('Date')

In [5]:
df.head()

   Unnamed: 0        Date   Open   High    Low  Close      Volume
0           0  1998-01-02  13.63  16.25  13.50  16.25   6411700.0
1           1  1998-01-05  16.50  16.56  15.19  15.88   5820300.0
2           2  1998-01-06  15.94  20.00  14.75  18.94  16182800.0
3           3  1998-01-07  18.81  19.00  17.31  17.50   9300200.0
4           4  1998-01-08  17.44  18.62  16.94  18.19   6910900.0

In [6]:
df_train = df.iloc[:4000]
env_train = DummyVecEnv([lambda: StockTradingEnv(df_train)])

In [ ]:
model = PPO2(MlpPolicy, env_test, verbose=1,tensorboard_log="./PPO2_tensorboard/")
model.learn(total_timesteps=100000)
model.save("training_.pkl")